[Unit]
Description=jacktrip
Requires=jackd.service
After=network.target jackd.service

[Service]
User=jacktrip
Type=simple
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity
EnvironmentFile=/etc/systemd/system/jack.conf
ExecStartPre=jack_wait -w -t 5
ExecStart=/usr/bin/jacktrip $JACKTRIP_OPTS
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
